html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  font-family: "Karla", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5eff5;
}

.container {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  border-radius: 20px;
  margin: 100px 0;
}

.join-our-community-section {
  background-color: white;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}

.join-our-community-section h2 {
  margin-top: 0;
  color: #2ab2af;
  font-size: 22px;
}

.join-our-community-section .guarantee {
  color: #c0df34;
  font-weight: 700;
  font-size: 16px;
}

.join-our-community-section .details {
  color: #98a6bd;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 0;
}

.price-section {
  background-color: #2ab2af;
  padding: 30px;
  color: white;
  border-radius: 0;
}

.price-section h3 {
  margin-top: 0;
}

.price-section .price-per-mounth {
  margin-bottom: 0;
  position: relative;
}

.price-section .price-per-mounth .price {
  font-size: 25px;
  font-weight: 700;
  padding-right: 10px;
}

.price-section .price-per-mounth .text {
  font-size: 13px;
  color: #e5eff5;
  position: absolute;
  top: 7px;
}

.price-section .details {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e5eff5;
  font-size: 14px;
}

.price-section button {
  width: 100%;
  height: 50px;
  background-color: #c0df34;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.price-section button:hover {
  background-color: #cae067;
}

.whyUs-section {
  background-color: #6dcac9;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}

.whyUs-section h3 {
  margin-top: 0;
  color: white;
}

.whyUs-section p {
  font-size: 13px;
  color: #e5eff5;
  margin-bottom: 0;
  line-height: 19px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #98a6bd;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 700px) {
  body {
    height: 100vh;
  }
  .container {
    width: 600px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .join-our-community-section {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .join-our-community-section h2 {
    font-size: 30px;
  }
  .join-our-community-section .guarantee {
    font-size: 18px;
  }
  .join-our-community-section .details {
    font-size: 15px;
  }
  .price-section {
    border-radius: 0 0 0px 10px;
  }
  .price-section .details{
    font-size: 16px;
  }
  .whyUs-section {
    border-radius: 0 0 10px 0px;
  }
}
/*# sourceMappingURL=style.css.map */
